<% include partials/header.ejs %>
<% include partials/navigation.ejs %>

  <h1><%= description.charAt(0).toUpperCase() +
          description.slice(1) %>
  </h1>
  <h3>Les cours d'<%= description %> durent <%= lesson_duration %>
    <% if(lesson_duration == 1) { %>
      heure.
    <% } else { %>
      heures.
    <% } %>
  </h3>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>date</th>
        <th>début du cours</th>
        <th>lieu</th>
        <th>places restantes</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < results.rowCount ; i++) { %>
      <% var options = {weekday : "long", month: "long", day: "numeric"}; %>
      <tr>
        <td><%= results.rows[i].lesson_start.toLocaleDateString("fr-FR", options) %></td>
        <td><%= results.rows[i].lesson_start.getHours()%>h
          <% results.rows[i].lesson_start.getMinutes() !== 0 ?
          results.rows[i].lesson_start.getMinutes() : "" %>
        </td>
        <td><%= results.rows[i].location.charAt(0).toUpperCase() +
                results.rows[i].location.slice(1) %></td>
        <td><%= results.rows[i].remaining_spots %></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>

<% include partials/footer.ejs %>
